@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root{
    --light-cyan:hsl(193, 38%, 86%);
    --neon-green:hsl(150, 100%, 66%);
    --gray-blue:hsl(217, 19%, 38%);
    --dark-g-blue:hsl(217, 19%, 24%);
    --dark-blue:hsl(218, 23%, 16%);

    --font-body:28px;
    --fw-body:800;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

}

body{
    height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 300px;
    padding:20px 30px;
    background-color: var(--gray-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

#title{
    text-align: center;
    margin-bottom: 20px;
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}

#advice{
    text-align: center;
    color: #fff;
}

.divider{
   margin: 20px;
}
a:hover{
    cursor: pointer;
}
a>img{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px auto;
    border:3px solid var(--neon-green);
    border-radius: 50%;
}
   


